@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define custom properties for font weights and styles */
body {
    font-family: "Poppins", sans-serif;
  }
 

.parant:hover .my-svg-icon{
    fill:url(#paint0_linear_1_808);
}

.parant .my-svg-icon{
    fill:url(#paint0_linear_1_881);
}


.transition{
    transition: .4s;
}

.parant .my-arrow-svg{
    fill: white;
}

.parant:hover .my-arrow-svg{
    fill:url(#paint0_linear_41_897);
}

::-webkit-scrollbar {
    display: none;
  }

  .fade-text {
    position: relative;
}

.fade-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent, black);
    opacity: 0.5; 
    pointer-events: none; 
}

.fade-text > div {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}